<%- include('partials/header') -%>

<main class="container d-flex justify-content-around flex-column mt-10 align-items-center">

    <div class="middle d-flex justify-content-around h-5/6 w-3/4 ">
    <div class="d-flex justify-content-around flex-column ">
        <h1 class="text-5xl"> The all-in-one application to track fitness and share your journey.</h1>
        <p>Let's start today!</p>
        <a href="/signup" class="btn btn-secondary w-5/6"> Signup</a>
        </div>
        <div><img class="object-contain" src='/imgs/running.jpg' alt="Man running on a trail"></div>
       
</div>
<div class="mt-10">
    <p>Take a look at what others are doing. </p>
</div>
</main>
    

<%- include('partials/footer') -%>